@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;900&display=swap');


/* Fonts */

// sizes
$ft-xxs: 10px;
$ft-xs: 12px;
$ft-sm: 14px;
$ft-md: 18px;
$ft-lg: 24px;
$ft-xl: 36px;
$ft-xxl: 48px;
$ft-xxx: 56px;

// families
$cairo: 'Cairo', sans-serif;

/* Color Palette */
$light: rgba(255, 255, 255, 1);
$dark: rgba(63, 63, 63, 1);
$green: rgba(77, 184, 144, 1);
$ltpink: rgba(255, 213, 212, 1);
$dkpink: rgba(255, 184, 211, 1);

/* Spacing */
$sp-xxs: 1px;
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 32px;
$sp-xl: 64px;
$sp-xxl: 124px;

/* Other */

// border radius
$btnRad: 8px;
$pilRad: 48px;
$cirRad: 999px;

// heights
$headH: 75px;
$footH: 40px;

// screen sizes
$phone: 768;
$tablet: 1280;
$laptop: 1920;
$desktop: 2560;