@import "../sass/index";

.carousel {
    position: relative;
    background-size: cover;
    background-position: center center;
    @include flex-center;
    width: 250px;
    height: 250px;
    .carousel-btn {
        color: rgba($green, 0.5);
        cursor: pointer;
        position: absolute;
        top: 50%;
        background: none;
        border: none;
        font-size: 1rem;
        z-index: 900;
        background-color: rgba($dark, 0.1);
        border-radius: $btnRad;
        padding: 0 $sp-sm $sp-xs $sp-sm;
        transition: all ease 0.3s;
        &:hover {
            color: rgba($ltpink, 1);
            background-color: rgba($dark, 0.5);
        }
        &.prev {
            left: -2rem;
        }
        &.next {
            right: -2rem;
        }
    }
    &>ul {
        list-style: none;
    }
    .project-img {
        max-width: 250px;
        max-height: 200px;
        background-size: cover;
        background-position: center center;
    }
    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }
    
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
}