@import "../sass/index";

#header {
    @include flex-center;
    height: 30px;
    background: transparent;
    font-family: $cairo;
    .header-inner {
        position: fixed;
        padding: $sp-sm;
        background: $green;
        border-bottom-left-radius: $sp-sm;
        border-bottom-right-radius: $sp-sm;
        z-index: 1000;
        .nav-wrapper {
            @include flex-center;
            #main__navigation {
                @include flex-center;
                .nav-item {
                    margin: 0;
                    a {
                        @include nav-item;
                    }
                }
            }
        }
    }
}