@import "../sass/index";

#header {
    @include flex-center;
    height: 30px;
    background: transparent;
    font-family: $cairo;
    .header-inner {
        .nav-wrapper {
            position: sticky;
            @include flex-center;
            #main__navigation {
                @include flex-center;
                .nav-item {
                    margin: 0;
                    a {
                        @include nav-item;
                    }
                }
            }
        }
    }
}