@import "../sass/index";

.main-tagline-container {
    @include flex-center;
    flex-direction: column;

    #main__name {
        font-size: $ft-xxl;
        margin: 0;
        margin-top: $sp-xl;
        #main__name__link {
            @include title;
        }
    }
    #main__title {
        font-size: $ft-xl;
        font-family: $cairo;
        font-weight: 900;
        margin: 0 $sp-lg $sp-md $sp-lg;
        text-align: center;
        border-radius: $btnRad;
        color: $light;
    }
    #main__tagline {
        font-family: $cairo;
        font-weight: 700;
        line-height: $sp-lg;
        text-transform: lowercase;
        margin: 0 $sp-xl $sp-xl $sp-xl;
        text-align: center;
        color: rgba($green, 0.6);
        width: 50%;
    }
}