@import "../sass/index";

h2 {
    font-family: $cairo;
    text-align: center;
    margin: $sp-lg 0 $sp-md 0;
    text-transform: uppercase;
    color: rgba($dark, 0.8);
}
#project-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-column-gap: $sp-md;
    grid-row-gap: $sp-lg;
    justify-items: center;
    align-items: center;
    .project {
        min-height: 100%;
        max-width: 380px;
        min-width: 280px;
        background: linear-gradient(rgba($light, 1), rgba($ltpink, 0.1));
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        @include flex-center;
        flex-direction: column;
        position: relative;
        top: 0;
        .card {
            text-decoration: none;
        }
        article {
        padding: $sp-md;
        display: flex;
        flex: 1;
        justify-content: space-between;
        flex-direction: column;
        font-family: $cairo;
        overflow: hidden;
        position: relative;
            & h3 {
                font-size: $ft-lg;
                color: rgba($green, 0.7);
            }
            .icon-container {
                position: absolute;
                right: 0;
                top: 7%;
                margin-right: $sp-md;
                font-size: $ft-lg;
                cursor: none;
                & .isDisabled {
                    color: currentColor;
                    cursor: not-allowed;
                    opacity: 0.5;
                    text-decoration: none;
                }
                & a {
                    transition: all ease 0.3s;
                    text-decoration: none;
                    color: rgba($dark, 0.5);
                    &:first-of-type {
                        margin-right: $sp-sm;
                    }
                    &:hover {
                        color: $dkpink;
                    }
                }
            }
            & p {
                font-size: $ft-md;
                color: rgba($dark, 0.7);
            }
            & span {
                font-size: $ft-md;
                color: $light;
                background: rgba($dark, 0.5);
                padding: $sp-sm $sp-md;
                border-radius: $btnRad;
                margin: $sp-md 0;
                text-align: center;
            }
        }
        .thumb {
            @include flex-center;
        }
    }
}