@import "../sass/index";

#resume-section {
    @include flex-center;
    height: 50vh;
    background: linear-gradient(rgba($dark, 0.1), rgba($dkpink, 0.1));
    // margin: $sp-xxl 0;
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    h3 {
        @include btn;
        @include primary;
    }
}